@import url('./__statistic/header-middle-menu__statistic.css');
@import url('./__item/header-middle-menu__item.css');

@media screen and (max-width:650px) {
    .header-middle-menu {}
}


@media screen and (min-width:651px) and (max-width:1100px) {
    .header-middle-menu {
        margin-top: 11px;
    }
}




@media screen and (min-width:1101px) {
    .header-middle-menu {
        font-size: 20px;
        margin-top: 11px;
        margin-bottom: 70px;
    }
}