@media screen and (max-width:650px) {
    .header-top__link {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        list-style-type: none;
        padding-bottom: 5px;
    }
}


@media screen and (min-width:651px) and (max-width:1100px) {
    .header-top__link {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        height: 40px;
        box-sizing: border-box;
    

    }
}




@media screen and (min-width:1101px) {
    .header-top__link {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        height: 48px;
        box-sizing: border-box;
    }
}

@import url('./_noneactiv/header-top__link_noneactiv.css');
@import url('./_activ-black/header-top__link_activ-black.css');
@import url('./_activ-white/header-top__link_activ-white.css');