@import url('./__logo/header-top__logo.css');
@import url('./__links/header-top__links.css');
@import url('./__link/header-top__link.css');


@media screen and (max-width:650px) {
    .header-top {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    height: 56px;
     
    }
}


@media screen and (min-width:651px) and (max-width:1100px) {
    .header-top {
        display: flex;
    justify-content: space-between;
    justify-items: center;
    height: 56px;
    }
}




@media screen and (min-width:1101px) {
    .header-top {
        display: flex;
    justify-content: space-between;
    justify-items: center;
    height: 47px;
   
      }
}