@media screen and (max-width:650px) {
    .card__text-date_commits {
        display: block;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #b6bcbf;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .card__text-date_commits {}
}




@media screen and (min-width:1001px) {
    .card__text-date_commits {}
}