@media screen and (max-width:650px) {

    /* 320*/
    .card__description_source {
        padding-bottom: 36px;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        color: #B6BCBF;
    }
}

@media screen and (min-width:651px) and (max-width:1000px) {

    /* 320*/
    .card__description_source {}
}

@media screen and (min-width:1001px) {

    /* 320*/
    .card__description_source {}
}