@import url('./__title/techniks__title.css');
@import url('./__labels/techiks__labels.css');

.techniks {
    background-color: #f5f6f7;
}

@media screen and (max-width:650px) {
    .techniks {
    padding: 30px 16px 52px 1px;
     margin-bottom: 1px;
    }
}


@media screen and (min-width:651px) and (max-width:1100px) {
    .techniks {
      padding-bottom: 32px;
     
    }
}




@media screen and (min-width:1101px) {
    .techniks {
        padding-top: 41px;
        padding-left: 89px;
        display: flex;
        padding-bottom: 76px;

    }
}

