@import url('./_github/footer__icon_github.css');
@import url('./_facebook/footer__icon_facebook.css');



@media screen and (max-width:650px) {
    .footer__icon {
    margin-left: 27px;
     
    }
}


@media screen and (min-width:651px) and (max-width:1100px) {
    .footer__icon {
        margin-left: 0px;
        margin-top: 0px;
        width: 27px;
        height: 27px;
    }
}




@media screen and (min-width:1101px) {
    .footer__icon {
        margin-left: 0px;
        margin-top: 0px;
        width: 27px;
        height: 27px;
    }
}

