@import url('./_backgrond/header_background_img.css');
@import url('./_backgrond/header_background_color.css');


@media screen and (max-width:650px) {
    .header {
    padding:3px 16px 32px;
     
    }
}


@media screen and (min-width:651px) and (max-width:1100px) {
    .header {
        padding:22px 42px 40px;
    }
}




@media screen and (min-width:1101px) {
    .header {
        padding:32px 42px 86px 91px;
    }
}