@import url('./__img/card__img.css');


@media screen and (max-width:650px) {
    .card {
   
    border-radius: 10px;
    background-color: white;
    padding:0px 16px ;
    margin-bottom: 7px;

      }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .card {
      
    }
}




@media screen and (min-width:1001px) {
    .card {
      
    }
}
