.author {    
    background-color: white;
    
}

@import url('./__img/author__img.css');

.author {
    display:flex;
    justify-content: space-between;
    padding-top: 32px; 
}

@media screen and (max-width:650px){          /* 320*/
    .author {    
       flex-flow: column;
       padding:0px 16px;
    }
}

