

@media screen and (max-width:650px) {
    .header-bottom__search {
        width: calc(100% - 43px);
        display: block;
        height: 56px;
        border: none;
        border-radius: 28px;
        padding-left:43px;
       
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .header-bottom__search {
      width: 100%;
      display: block;
      height: 56px;
      border: none;
      border-radius: 28px;
      padding-left: 25px;
    }
}




@media screen and (min-width:1001px) {
    .header-bottom__search {
       width: 100%;
       display: block;
       height: 56px;
    }
}

