@import url('./__form/header__form.css');

.header {
    background-image: url('../../image/georgia-de-lotz--UsJoNxLaNo-unsplash.png');
    width: 100%;  
    overflow: hidden;
    background-position: center;
 
} 

@media screen and (max-width:650px){          /* 320*/
    .header{
       padding-bottom: 32px;
    }
  } 
  @media screen and (min-width:651px) and (max-width:1000px){          /* 320*/
    .header{
        
    }
  } 
  @media screen and (min-width:1001px){          /* 320*/
    .header{
        
    }
  } 
