@media screen and (max-width:650px) {
    .footer__wrapper {
        display: flex;
        justify-content: space-between;
        flex-flow: column-reverse;
        width: 45%;
        font-size: 18px;
        line-height: 48px;
        text-decoration: none;
        color: #1a1b22;
        font-family: "Source Sans Pro";

    }
}

@media screen and (min-width:651px) and (max-width:1000px) {
    .footer__wrapper {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        line-height: 48px;
        text-decoration: none;
        color: #1a1b22;
        font-family: "Source Sans Pro";

    }
}

@media screen and (min-width:1001px) {
    .footer__wrapper {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        line-height: 48px;
        text-decoration: none;
        color: #1a1b22;
        font-family: "Source Sans Pro";
    }
}