@import url('./_last/statistic__box_last.css');

@media screen and (max-width:650px) {
    .statistic__box {
        width: 90%;
        margin: 0px auto;
        display: flex;
        align-items: center;

    }
}

@media screen and (min-width:651px) and (max-width:1100px) {
    .statistic__box {
        width: 90%;
        margin: 0px auto 29px;
        display: flex;
        align-items: center;
    }

}


@media screen and (min-width:1101px) {
    .statistic__box {  width: 90%;
        margin: 0px 0px 29px 95px;
        display: flex;
        align-items: center;}
}

