

@media screen and (max-width:650px) {
    .header-top__links {
    display: flex;
    width: 148px;
    justify-content: space-between;
    padding-left: 34px;
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .header-top__links {
      
    }
}




@media screen and (min-width:1001px) {
    .header-top__links {
       
    }
}