

@media screen and (max-width:650px) {
    .card__text_date {
    margin:0px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;    
    color: #B6BCBF;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .card__text_date {
      
    }
}




@media screen and (min-width:1001px) {
    .card__text_date {
       
    }
}

