
@media screen and (max-width:650px) {
    .header-top__link_activ-white {
    border-bottom:3px solid white;
    color:white;
    height: 34px;
    text-decoration: none;
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .header-top__link_activ-white {
      
    }
}




@media screen and (min-width:1001px) {
    .header-top__link_activ-white {
       
    }
}
