.cards {
    background-color: #f5f6f7;
}

@media screen and (max-width:650px) {
    .cards {}
}


@media screen and (min-width:651px) and (max-width:1100px) {
    .cards {
        display: flex;
        padding-left: 46px;
        padding-right: 2px;
        justify-content: space-between;
        padding-bottom: 30px;
        flex-wrap: wrap;
    }
}




@media screen and (min-width:1101px) {
    .cards {
        display: flex;
        padding-left: 94px;
        padding-right: 117px;
        justify-content: space-between;
        padding-bottom: 49px;
        margin-top: 37px;
        flex-wrap: wrap;
    }
}