
.card {
    text-align: initial;
}

@media screen and (max-width:650px) {
    .card_place_main {
    border-radius: 10px;
    padding-bottom: 20px;
    margin:0px auto  7px;
    background-color: white;
    width: 288px;
    height: 500px;
 
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .card_place_main {
      
    }
}




@media screen and (min-width:1001px) {
    .card_place_main {
       
    }
}

