@import url('./__title/header-middle__title.css');
@import url('./__instruction/header-middle__instruction.css');



@media screen and (max-width:650px) {
    .header-middle {
    padding-top: 18px;
     
    }
}


@media screen and (min-width:651px) and (max-width:1100px) {
    .header-middle {
      padding:7px 0px 0px 122px;
    }
}




@media screen and (min-width:1101px) {
    .header-middle {
       padding-top: 33px;
       padding-left: 0px;
       padding-bottom: 49px;
    }
}

