@import url('./__flag/statistic-flags__flag.css');


@media screen and (max-width:650px) {
    .statistic-flags {
    
     
    }
}


@media screen and (min-width:651px) and (max-width:1100px) {
    .statistic-flags {       
        opacity: .5;
        height: 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 12px 45px -11px 33px;
    }
}




@media screen and (min-width:1101px) {
    .statistic-flags {
        opacity: .5;
        height: 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px 118px -11px -98px;
    }
}

