@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    src: url(./vendor/robotoslab-regular.woff) format("woff");
}


@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: url(./vendor/roboto-regular.woff) format("woff");
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    src: url(./vendor/roboto-medium.woff) format("woff");
}


.statistic-scale {
    width: 90%;
    height: 2px;
    background-color: black;
    margin:0px auto;
}


@media screen and (max-width:650px) {
    .footer__copyright {
    
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .footer__copyright {
      
    }
}




@media screen and (min-width:1001px) {
    .footer__copyright {
       
    }
}


.statistic__number {
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    margin:0px;
    
}



@media screen and (max-width:650px) {
    .statistic__number {
    padding: 7px 0px 0px 7px;     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .statistic__number {
      
    }
}




@media screen and (min-width:1001px) {
    .statistic__number {
       
    }
}




@media screen and (max-width:650px) {
    .statistic__day {    
   width: 104px;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .statistic__day{
      
    }
}




@media screen and (min-width:1001px) {
    .statistic__day{
       
    }
}





@media screen and (max-width:650px) {
    .statistic__value {    
     width: 20%;   
     background-color: #2f71e5;
     position: relative;
    }
}

@media screen and (min-width:651px) and (max-width:1000px) {
    .statistic__value{
      
    }
}




@media screen and (min-width:1001px) {
    .statistic__value{
       
    }
}




@media screen and (max-width:650px) {
    .statistic__box-top {
    width: 90%;
     background-color: #f5f6f7;
     padding:0px 16px ;
     display: flex;
     justify-content: start;
     box-sizing: content-box;
     margin: 0px auto;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .statistic__box-top {
      
    }
}




@media screen and (min-width:1001px) {
    .statistic__box-top {
       
    }
}


@media screen and (max-width:650px) {
    .statistic__box  {    
  width: 90%;
  margin: 0px auto;
  display: flex;
  align-items: center;

}
}

@media screen and (min-width:651px) and (max-width:1000px) {
    .statistic__box {
      
    }
}




@media screen and (min-width:1001px) {
    .statistic__box {
       
    }
}





@media screen and (max-width:650px) {
    .statistic__text_mouth {    
 margin-right: 40px;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .statistic__text_mouth {
      
    }
}




@media screen and (min-width:1001px) {
    .statistic__text_mouth {
       
    }
}


@media screen and (max-width:650px) {
    .statistic__text {    
     font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.4px;
text-transform: uppercase;
color: #B6BCBF;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .statistic__text{
      
    }
}




@media screen and (min-width:1001px) {
    .statistic__text{
       
    }
}





@media screen and (max-width:650px) {
    .statistic__title {    
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 30px;      
        color: #1A1B22;
        padding: 0px 16px 3px;
        margin: 0px;
    }
}

@media screen and (min-width:651px) and (max-width:1000px) {
    .statistic__title{
      
    }
}




@media screen and (min-width:1001px) {
    .statistic__title{
       
    }
}


.statistic {
    background-color: #f5f6f7;
}



@media screen and (max-width:650px) {
    .statistic {
    padding-bottom: 21px;
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .statistic {
      
    }
}




@media screen and (min-width:1001px) {
    .statistic {
       
    }
}


.statistic-info__text_bold {
    display: inline;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;    
    color: #1A1B22;
    margin-left: 3px;
}



@media screen and (max-width:650px) {
    .statictic-info__text_bold {
        font-size: 18px;
        line-height: 24px;     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .statictic-info__text_bold {
      
    }
}




@media screen and (min-width:1001px) {
    .statictic-info__text_bold {
       
    }
}
.statistic-info__text {
    display: inline;
    font-family: Roboto;
    font-style: normal;
    color: #1A1B22;
    display: inline;
}



@media screen and (max-width:650px) {
    .statistic-info__text {
        font-size: 18px;
        line-height: 24px;     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .statistic-info__text {
      
    }
}
.statistic-info {
max-width: 288px;
}



@media screen and (max-width:650px) {
    .statistic-info {
    
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .statistic-info {
      
    }
}




@media screen and (min-width:1001px) {
    .statistic-info {
       
    }
}
@media screen and (max-width:650px) {
    .card__wrapper_commits {
      display: inline;
      }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .card__wrapper_commits {}
}




@media screen and (min-width:1001px) {
    .card__wrapper_commits {}
}

@media screen and (max-width:650px) {
    .commits__title {
        width: 150px;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 40px;
        color: #1A1B22;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .commits__title {}
}




@media screen and (min-width:1001px) {
    .commits__title {}
}
@media screen and (max-width:650px) {
    .commits {
    padding: 0px 16px;
    background-color: #f5f6f7;
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .commits {
      
    }
}




@media screen and (min-width:1001px) {
    .commits {
       
    }
}


.techniks__title {    
font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
color: #1A1B22;
margin-bottom: 0px;
}

@media screen and (max-width:650px) {
    .techniks__title {
    padding-bottom: 39px;
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .techniks__title {
      
    }
}




@media screen and (min-width:1001px) {
    .techniks__title {
       
    }
}


.techniks__labels {
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    justify-content: space-between;
    padding: 0px 20px;
    max-width: 290px;
}
.tecniks {
    background-color: #f5f6f7;
}

@media screen and (max-width:650px) {
    .techniks {
    padding: 0px 16px 52px;
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .techniks {
      
    }
}




@media screen and (min-width:1001px) {
    .techniks {
       
    }
}


.label__title {
    margin-top: 0px;
}





.label {
    width: 100px;
    text-align: center;
}

@media screen and (max-width:650px) {
    .author__text_title {
        margin: 24px 0px 16px;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 40px;
        color: #1A1B22;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .author__text_title {}
}




@media screen and (min-width:1001px) {
    .author__text_title {}
}
@media screen and (max-width:650px) {
    .author__text_paragraph {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: #1A1B22;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .author__text_paragraph {}
}




@media screen and (min-width:1001px) {
    .author__text_paragraph {}
}



@media screen and (max-width:650px) {
    .author__image {
    width:100%;
    max-width:463px;
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .author__image {
      
    }
}




@media screen and (min-width:1001px) {
    .author__image {
       
    }
}


@media screen and (max-width:650px) {
    .author {
    padding:32px 24px;
    background-color: white;
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .author {
      
    }
}




@media screen and (min-width:1001px) {
    .author {
       
    }
}


@media screen and (max-width:650px) {
    .buttom_place_github {
        line-height: 56px;
        background-color: #fff;
        margin: 0px auto 34px;
        text-decoration: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: #1A1B22;     
        width: 288px;
        text-align: center;
        border: 1px black solid;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .buttom_place_github {
        width: 100%;
        display: block;
        height: 56px;
        border: none;
        border-radius: 28px;
        padding-left: 25px;

    }
}




@media screen and (min-width:1001px) {
    .buttom_place_github {
        width: 100%;
        display: block;
        height: 56px;
    }
}
@media screen and (max-width:650px) {
    .buttom_place_main {
        line-height: 56px;
        background-color: #fff;
        margin: 0px auto 34px;
        text-decoration: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #1A1B22;     
        width: 288px;
        
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .buttom_place_main {
        width: 100%;
        display: block;
        height: 56px;
        border: none;
        border-radius: 28px;
        padding-left: 25px;

    }
}




@media screen and (min-width:1001px) {
    .buttom_place_main {
        width: 100%;
        display: block;
        height: 56px;
    }
}
.buttom_place_header {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

@media screen and (max-width:650px) {
    .buttom_place_header {
        background-color: #2F71E5;
        margin-top: 30px;
        width: 100%;
        margin-top: 19px;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .buttom_place_header {}
}




@media screen and (min-width:1001px) {
    .buttom_place_header {
        width: 100%;
        display: block;
        height: 56px;
    }
}
@media screen and (max-width:650px) {
    .buttom
     {
       
        display: block;
        height: 56px;
        border: none;
        border-radius: 28px;
  
}
}

@media screen and (min-width:651px) and (max-width:1000px) {
    .buttom
     {
      width: 100%;
      display: block;
      height: 56px;
      border: none;
      border-radius: 28px;
      padding-left: 25px;
    }
}




@media screen and (min-width:1001px) {
    .buttom
     {
       width: 100%;
       display: block;
       height: 56px;
    }
}



@media screen and (max-width:650px) {
    .main {
    padding: 34px 16px;
    background-color: #f5f6f7;
    text-align: center;

     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .main {
      
    }
}




@media screen and (min-width:1001px) {
    .main {
       
    }
}


@media screen and (max-width:650px) {
    .main-top__title {
        margin: 0px 0px 16px;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 34px;
        color: #1A1B22;
        text-align: initial;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .main-top__title {}
}




@media screen and (min-width:1001px) {
    .main-top__title {}
}
@media screen and (max-width:650px) {
    .main-top__subtitle {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #1A1B22;
        text-decoration: none;
        display: block;
        text-align: initial;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .main-top__subtitle {}
}




@media screen and (min-width:1001px) {
    .main-top__subtitle {}
}
@media screen and (max-width:650px) {
    .main-top {
        padding-bottom:36px ;
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .main-top {}
}




@media screen and (min-width:1001px) {
    .main-top {}
}
.header_background_img{
    background-image: url(./images/georgia-de-lotz--UsJoNxLaNo-unsplash.png);

}


@media screen and (max-width:650px) {
    .header {
    padding:3px 16px 32px;
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .header {
      
    }
}




@media screen and (min-width:1001px) {
    .header {
       
    }
}
.header-top__logo_white {
    color:#fff;
}
.header-top__logo_black {
    color:#000;
}
@media screen and (max-width:650px) {
    .header-top__logo {          
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;  
        text-decoration: none;  
       margin-top: 16px;   
        }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .header-top__logo {
      
    }
}




@media screen and (min-width:1001px) {
    .header-top__logo {
       
    }
}


@media screen and (max-width:650px) {
    .header-top__links {
    display: flex;
    width: 148px;
    justify-content: space-between;
    padding-left: 34px;
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .header-top__links {
      
    }
}




@media screen and (min-width:1001px) {
    .header-top__links {
       
    }
}



@media screen and (max-width:650px) {
    .header-top__link_noneactiv {                
     color: #B6BCBF;
     text-decoration: none;
        }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .header-top__link_noneactiv {
      
    }
}




@media screen and (min-width:1001px) {
    .header-top__link_noneactiv {
       
    }
}

@media screen and (max-width:650px) {
    .header-top__link_activ-black {
    border-bottom:3px solid black;
    color:black;
    height: 34px;
    text-decoration: none;
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .header-top__link_activ-black {
      
    }
}




@media screen and (min-width:1001px) {
    .header-top__link_activ-black {
    }
    }

@media screen and (max-width:650px) {
    .header-top__link_activ-white {
    border-bottom:3px solid white;
    color:white;
    height: 34px;
    text-decoration: none;
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .header-top__link_activ-white {
      
    }
}




@media screen and (min-width:1001px) {
    .header-top__link_activ-white {
       
    }
}




@media screen and (max-width:650px) {
    .header-top__link {                
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;        
        list-style-type: none;
        }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .header-top__link {
      
    }
}




@media screen and (min-width:1001px) {
    .header-top__link {
       
    }
}
@media screen and (max-width:650px) {
    .header-top {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    height: 56px;
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .header-top {
      
    }
}




@media screen and (min-width:1001px) {
    .header-top {
       
    }
}
.header-middle__title_white { 
    color: #fff;
  }

.header-middle__title_black { 
    color: #000;
  }

  
@media screen and (max-width:650px) {
  .header-middle__title.header-middle__title_black {
   margin-top: 0px;

  }
}


@media screen and (min-width:651px) and (max-width:1000px) {
  .header-middle__title_black {
    
  }
}




@media screen and (min-width:1001px) {
  .header-middle__title_black {
     
  }
}


@media screen and (max-width:650px) {
    .header-middle__title {
    margin:13px 0px 0px;    
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;   
  
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .header-middle__title {
      
    }
}




@media screen and (min-width:1001px) {
    .header-middle__title {
       
    }
}




    .header-middle__instruction_white { 
      color: #fff;
    }


    .header-middle__instruction_black { 
        color: #000;
      }
  
@media screen and (max-width:650px) {
    .header-middle__instruction {       
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;      
        margin-bottom: 29px;
        letter-spacing: -1px;
     
    }
    .header-middle__instruction:last-child{
        margin-bottom: 0px;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .header-middle__instruction {
      
    }
}




@media screen and (min-width:1001px) {
    .header-middle__instruction {
       
    }
}

@media screen and (max-width:650px) {
    .header-middle {
    padding-top: 18px;
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .header-middle {
      padding-top: 18px;
    }
}




@media screen and (min-width:1001px) {
    .header-middle {
       padding-top: 18px;
    }
}




@media screen and (max-width:650px) {
    .header-bottom__search {
        width: calc(100% - 43px);
        display: block;
        height: 56px;
        border: none;
        border-radius: 28px;
        padding-left:43px;
       
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .header-bottom__search {
      width: 100%;
      display: block;
      height: 56px;
      border: none;
      border-radius: 28px;
      padding-left: 25px;
    }
}




@media screen and (min-width:1001px) {
    .header-bottom__search {
       width: 100%;
       display: block;
       height: 56px;
    }
}


.header-bottom {
    max-width: 288px;
}


@media screen and (max-width:650px) {
    .footer__copyright {
    margin-top: 40px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;    
    color: #B6BCBF;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .footer__copyright {
      
    }
}




@media screen and (min-width:1001px) {
    .footer__copyright {
       
    }
}




@media screen and (max-width:650px) {
    .footer__wrapper-links {
    display: flex;
    flex-flow: column-reverse;
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .footer__wrapper-links {
      
    }
}




@media screen and (min-width:1001px) {
    .footer__wrapper-links {
       
    }
}




@media screen and (max-width:650px) {
    .footer__links {
    display: flex;
    flex-flow: column;
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .footer__links {
      
    }
}




@media screen and (min-width:1001px) {
    .footer__links {
       
    }
}


.footer__link {
    text-decoration: none;
}

@media screen and (max-width:650px) {
    .footer__link {
        padding-top: 30px;
        font-family: 'Source Sans Pro', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #1A1B22;
    }
    .footer__link:first-child{
        padding-top:0px;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .footer__link {}
}




@media screen and (min-width:1001px) {
    .footer__link {}
}



@media screen and (max-width:650px) {
    .footer__icon {
    margin-left: 27px;
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .footer__icon {
      
    }
}




@media screen and (min-width:1001px) {
    .footer__icon {
       
    }
}




@media screen and (max-width:650px) {
    .footer__copyright {
    margin-top: 40px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;    
    color: #B6BCBF;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .footer__copyright {
      
    }
}




@media screen and (min-width:1001px) {
    .footer__copyright {
       
    }
}


@media screen and (max-width:650px) {
    .footer {
    padding: 21px 16px;
    display: flex;
    justify-content: space-between;
     background-color: white;
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .footer {
      
    }
}




@media screen and (min-width:1001px) {
    .footer {
       
    }
}




@media screen and (max-width:650px) {
    .cards {

     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .cards {
      
    }
}




@media screen and (min-width:1001px) {
    .cards {
       
    }
}


.card__avatar-box {
    display: flex;
    justify-content: start;
}
@media screen and (max-width:650px) {
    .card__text-name_commits {
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: #1A1B22;
        margin: 12px 0px 0px;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .card__text-name_commits {}
}




@media screen and (min-width:1001px) {
    .card__text-name_commits {}
}

.card__text-mail_commits {
    margin: 0px;
}



@media screen and (max-width:650px) {
    .card_place_commits {
    
     padding:3px 16px 16px;
     background-color: white;
     border-radius: 10px;
     height: 264px;
     overflow: hidden;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .card_place_commits {
      
    }
}




@media screen and (min-width:1001px) {
    .card_place_commits {
       
    }
}



.card {
    text-align: initial;
}

@media screen and (max-width:650px) {
    .card_place_main {
    border-radius: 10px;
    padding-bottom: 20px;
    margin:0px auto  7px;
    background-color: white;
    width: 288px;
    height: 500px;
 
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .card_place_main {
      
    }
}




@media screen and (min-width:1001px) {
    .card_place_main {
       
    }
}




@media screen and (max-width:650px) {
    .card__image_commits {
    width:48px;
    height: 48px;
    border-radius: 24px;
    margin: 11px 12px 0px 0px;
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .card__image_commits {
      
    }
}




@media screen and (min-width:1001px) {
    .card__image_commits {
       
    }
}




@media screen and (max-width:650px) {
    .card__image_main {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    margin-bottom: 15px;
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .card__image_main {
      
    }
}




@media screen and (min-width:1001px) {
    .card__image_main {
       
    }
}



@media screen and (max-width:650px) {
    .card__text-title_main {
    margin: 20px 16px 8px;
     
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .card__text-title_main {
      
    }
}




@media screen and (min-width:1001px) {
    .card__text-title_main {
       
    }
}


@media screen and (max-width:650px) {
    .card__text-title_commits {
        
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .card__text-title_commits {
      
    }
}




@media screen and (min-width:1001px) {
    .card__text-title_commits {
       
    }
}






@media screen and (max-width:650px) {
    .card__text-source_main {
        margin: 5px 16px;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        color: #B6BCBF;
        
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .card__text-source_main {}
}




@media screen and (min-width:1001px) {
    .card__text-source_main {}
}







@media screen and (max-width:650px) {
    .card__text-paragraph_main {
        margin: 0px 16px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #1A1B22;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .card__text-paragraph_main {}
}




@media screen and (min-width:1001px) {
    .card__text-paragraph_main {}
}
.card__text-paragraph_commits {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
}


@media screen and (max-width:650px) {
    .card__text-paragraph_commits {
        width: 250px;

    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .card__text-paragraph_commits {}
}




@media screen and (min-width:1001px) {
    .card__text-paragraph_commits {}
}





@media screen and (max-width:650px) {
    .card__text-date_main
     {
    margin:0px 16px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;    
    color: #B6BCBF;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .card__text_date {
      
    }
}




@media screen and (min-width:1001px) {
    .card__text-date_main
     {
       
    }
}


@media screen and (max-width:650px) {
    .card__text-date_commits {
        display: block;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #b6bcbf;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .card__text-date_commits {}
}




@media screen and (min-width:1001px) {
    .card__text-date_commits {}
}









.body{min-width:320px;max-width:1440px;margin:0 auto}
