@import url('./strelka/commits__strelka.css');
@import url('./__buttom-box/commits__buttom-box.css');
@import url('./__top-box/commits__top-box.css');
@import url('./__box/commits__box.css');
@import url('./__title/commits__title.css');



@media screen and (max-width:650px) {
    .commits {
    padding: 0px 16px;
    background-color: #f5f6f7;
     
    }
}


@media screen and (min-width:651px) and (max-width:1100px) {
    .commits {
        padding: 0px 16px 70px;
    background-color: #f5f6f7;
    }
}




@media screen and (min-width:1101px) {
    .commits {
        padding: 0px 16px 133px;
    background-color: #f5f6f7; 
    }
}

