@import url('./_place/buttom_place_github.css');
@import url('./_place/buttom_place_main.css');
@import url('./_place/buttom_place_header.css');


@media screen and (max-width:650px) {
    .buttom
     {
       
        display: block;
        height: 56px;
        border: none;
        border-radius: 28px;
  
}
}

@media screen and (min-width:651px) and (max-width:1100px) {
    .buttom
     {
      width: 100%;
      display: block;
      height: 56px;
      border: none;
      border-radius: 28px;
      padding-left: 25px;
    }
}




@media screen and (min-width:1101px) {
    .buttom
     {
        width: 100%;
      display: block;
      height: 56px;
      border: none;
      border-radius: 28px;
    }
}
