@import url('./_white/header-middle__instruction_white.css');
@import url('./_black/header-middle__instruction_black.css');


@media screen and (max-width:650px) {
    .header-middle__instruction {       
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;      
        margin-bottom: 29px;
        letter-spacing: -1px;
     
    }
    .header-middle__instruction:last-child{
        margin-bottom: 0px;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .header-middle__instruction {
      
    }
}




@media screen and (min-width:1001px) {
    .header-middle__instruction {
       
    }
}
