.buttom_place_header {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

@media screen and (max-width:650px) {
    .buttom_place_header {
        background-color: #2F71E5;
        margin-top: 30px;
        width: 100%;
        margin-top: 19px;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .buttom_place_header {}
}




@media screen and (min-width:1001px) {
    .buttom_place_header {
        width: 100%;
        display: block;
        height: 56px;
    }
}