@media screen and (max-width:650px) {
    .author__text_paragraph {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: #1A1B22;
    }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .author__text_paragraph {}
}




@media screen and (min-width:1001px) {
    .author__text_paragraph {}
}