.description_place_main {
    text-decoration-line:none;
}


@media screen and (max-width:625px){          /* 320*/
    .description_place_main {     
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;        
        color: #1A1B22; 
        display: block;
        margin:0px 0px 32px 0px;
        width: 197px; 
    }
  } 
  @media screen and (min-width:626px) and (max-width:1000px){          /* 320*/
    .description_place_main{
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;        
        color: #1A1B22; 
        margin:48px 48px 0px auto;
        width: 192px; 
        display: inline-block;
    }
  } 
  @media screen and (min-width:1001px){          /* 320*/
    .description_place_main{
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;        
        color: #1A1B22;  
        margin:100px 100px 0px auto;
        width: 192px;
        display: inline-block;
    }
  } 