
@media screen and (max-width:650px){          /* 320*/
    .description_place_header{  
        margin: 16px 13px 0px 13px;
        font-family: Roboto ,serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        width:250px;
    }
  } 
  @media screen and (min-width:651px) and (max-width:1000px){          /* 320*/
    .description_place_header{
        margin: 16px auto 0px;
        font-family: 'Roboto', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        width:250px;
    }
  } 
  @media screen and (min-width:1001px){          /* 320*/
    .description_place_header{
margin: 32px auto 0px;
font-family: 'Roboto' serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
color: #FFFFFF;
width:400px;
    }
  } 
