@import url('./_activ/header-top__link_activ.css');


@media screen and (max-width:650px) {
    .header-top__link {                
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;        
        color: #B6BCBF;
        list-style-type: none;
        }
}


@media screen and (min-width:651px) and (max-width:1000px) {
    .header-top__link {
      
    }
}




@media screen and (min-width:1001px) {
    .header-top__link {
       
    }
}