.preloader__error-subtitle {
    font-family: Roboto, 'Sans Serif', Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    width: 181px;
    margin: 18px auto;
    width: 310px;
}