


@media screen and (max-width:625px){          /* 320*/
    .title_place_main {     
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 34px;        
        color: #1A1B22;      
        width: 288px; 
        margin-top:32px;
        margin-bottom: 16px;
    }
  } 
  @media screen and (min-width:626px) and (max-width:1000px){          /* 320*/
    .title_place_main{
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 34px;        
        color: #1A1B22; 
        margin:40px 0px 0px 40px;
        width: 336px; 
        display: inline-block;
    }
  } 
  @media screen and (min-width:1001px){          /* 320*/
    .title_place_main{
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 46px;        
        color: #1A1B22;  
        margin:80px 0px 0px 104px;
        width: 502px;
        display: inline-block;
    }
  } 
